<app-aside></app-aside>
<app-header></app-header>
<section>
  <div class="template eight">
    <div>
      <div class="white">
        <div class="white">
          <div class="template seven">
            <div class="user-div">
              <div id="profile-pic" *ngIf="user">
                <img src="https://firebasestorage.googleapis.com/v0/b/myprotask.appspot.com/o/user-profiles%2F{{ user.idUser }}%2Fpfp.png?alt=media&token=71e4361c-7814-4858-896e-cedcaf90980c"
            onerror="this.onerror=null; this.src='../../../assets/img/profile_pic.png';" alt="" />
              </div>
              <p>{{ user?.name }}</p>
              <p>{{ user?.email }}</p>
              <p>{{ user?.description }}</p>
              <p>Average : {{user?.avgLastEva}}/6<i class="bi bi-star"></i></p>
              <p><a href="https://firebasestorage.googleapis.com/v0/b/myprotask.appspot.com/o/user-profiles%2F{{ user?.idUser }}%2Fcurriculum.pdf?alt=media&token=71e4361c-7814-4858-896e-cedcaf90980c">Download CV</a></p>
              <h2>History</h2>
              <div id="projects" class="overflow">

                  <div *ngIf="userView">
                    <table>
                      <thead>
                        <tr>
                          <th>Project</th>
                          <th>Project Description</th>
                          <th>Start Date - End Date</th>
                          <th>Role</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let historyItem of userView">
                          <td>{{ historyItem.Project.name }}</td>
                          <td>{{ historyItem.Project.description }}</td>
                          <td>
                            {{ historyItem.Project.startDate | date }} -
                            {{ historyItem.Project.finishDate | date }}
                          </td>
                          <td>{{ historyItem.User.role.name }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

              </div>
            </div>
            <div class="evaluation_container" *ngIf="evaluations.length > 0">
              <div class="inner_evaluation_container">
                <h2>Evaluations</h2>
                <div class="evaluation" *ngFor="let evaluation of evaluations">
                  <h1>
                    Project name: {{ evaluation.userProject.project.name }}
                  </h1>
                  <p><strong>Team Work:</strong> {{ evaluation.teamWork }}/6</p>
                  <p>
                    <strong>Individual Work:</strong>
                    {{ evaluation.individualWork }}/6
                  </p>
                  <p>
                    <strong>Initiative:</strong> {{ evaluation.initiative }}/6
                  </p>
                  <p>
                    <strong>Problem Resolution:</strong>
                    {{ evaluation.problemResolution }}/6
                  </p>
                  <p>
                    <strong>Observations:</strong> {{ evaluation.observation }}
                  </p>
                </div>
              </div>
            </div>
            <div *ngIf="evaluations.length === 0">
              <p>No evaluations found for this user.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="white">
      <div class="white">
        <div class="div-characteristics">
          <h2>Characteristics:</h2>

          <div class="characteristics" *ngFor="let category of categories">
            <h4>{{ category.name }}</h4>
            <div *ngIf="getFilteredCharacteristics(category.name).length === 0">
              <p>No characteristics in this category.</p>
            </div>
            <div *ngFor="let characteristic of getFilteredCharacteristics(category.name)">
              <ng-container *ngIf="category.technical; else notechnic">
                <ng-container *ngIf="characteristic.experience && +characteristic.experience > 12; else onlyMonths">
                  <p>
                    {{ characteristic.characteristic.name }}:
                    <ng-container *ngIf="+characteristic.experience < 24; else multipleYears">
                      1 year and
                      <ng-container *ngIf="+characteristic.experience % 12 == 1; else multipleMonths">
                        1 month
                      </ng-container>
                      <ng-template #multipleMonths>
                        {{ +characteristic.experience % 12 }} months
                      </ng-template>
                    </ng-container>
                    <ng-template #multipleYears>
                      <ng-container *ngIf="+characteristic.experience % 12 == 0; else notExactYears">
                        {{ +characteristic.experience / 12 | number: '1.0-0' }} year<span *ngIf="+characteristic.experience / 12 > 1">s</span>
                      </ng-container>
                      <ng-template #notExactYears>
                        {{ +characteristic.experience / 12 | number: '1.0-0' }} year<span *ngIf="+characteristic.experience / 12 > 1">s</span>
                        <ng-container *ngIf="+characteristic.experience % 12 !== 0 && +characteristic.experience !== 12">
                          and
                          <ng-container *ngIf="+characteristic.experience % 12 == 1; else multipleMonthsInYears">
                            1 month
                          </ng-container>
                          <ng-template #multipleMonthsInYears>
                            {{ +characteristic.experience % 12 }} month<span *ngIf="+characteristic.experience % 12 > 1">s</span>
                          </ng-template>
                        </ng-container>
                      </ng-template>
                    </ng-template>
                  </p>
                </ng-container>
                <ng-template #onlyMonths>
                  <p>
                    {{ characteristic.characteristic.name }}:
                    <ng-container *ngIf="+characteristic.experience == 1; else multipleMonthsOnly">
                      1 month
                    </ng-container>
                    <ng-template #multipleMonthsOnly>
                      {{ +characteristic.experience }} month<span *ngIf="+characteristic.experience > 1">s</span>
                    </ng-template>
                  </p>
                </ng-template>
              </ng-container>
              <ng-template #notechnic>
                <p>
                  {{ characteristic.characteristic.name }}:
                  {{ +characteristic.experience }}/10
                </p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- <ng-container *ngIf="
                userCharacteristic.characteristic.category.name ==
                  'Programming Language';
                else noLanguage
              ">
              <p>
                {{ userCharacteristic.characteristic.name }} :
                {{ userCharacteristic.experience / 12 | number : "1.0-0" }}
                years and {{ userCharacteristic.experience % 12 }} months
              </p>
            </ng-container>
            <ng-template #noLanguage>
              <p>No hay características de Language</p>
            </ng-template>     -->
