full-calendar {
    width: 75%;
    height: 570px;
}

.fc .fc-daygrid-day-number {
    padding: 4px;
    position: relative;
    z-index: 4;
    color: rgb(0, 0, 0);
}

.fc-event {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
    color: #ffffff !important;
    font-size: 14px !important;
    padding: 5px !important;
}

.fc-event-title {
    font-weight: bold !important;
}


#section-calendar {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px;
    gap: 30px;
}

#div-events {
    width: 20%;
    height: 570px;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.orange-button {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #FF6D43;
    padding: 10px;
    color: white;
    border: 2px solid #FF6D43;
}

.more-button {
    width: 50%;
    border-radius: 10px;
    border: none;
    background-color: #FF6D43;
    border: 2px solid #FF6D43;
    padding: 5px;
    color: white;
}

.orange-button:hover,
.more-button:hover {
    background-color: #F5F5F5;
    border: 2px solid #FF6D43;
    color: #FF6D43;
}

.grid-event {
    display: flex;
    cursor: pointer;
    padding: 10px;
}

.grid-event:hover {
    background-color: white;
}

#events {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#event-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    padding-right: 10px;
  }
  
  .grid-event {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    gap: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
.event {
    display: flex;
    flex-direction: column;
}

/*Prueba para el popup*/
.modal-content .btn {
    background-color: #FF6D43;
    border: none;
    color: white;
}

.btn-primary {
    background-color: #FF6D43;
    border: none;
    color: white;
    width: 200px;
}

.modal-header {
    background-color: #FF6D43;
    color: white;
}

.form-label {
    font-weight: bold;
}

.modal-body{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.modal-body button:hover{
    background-color: #F5F5F5;
    border: 2px solid #FF6D43;
    color: #FF6D43;
}


  