.overflow {
  overflow: auto;
  width: 100%;
}

.project-container {
  margin: 20px;
}
.plantilla-four{
  gap: 50px;
  display: flex;
  flex-direction: row;
}
.plantilla {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  /* Espacio entre los elementos */
  gap: 20px;
}

.plantilla :hover{
  background-color: bisque;
  cursor: pointer;
}

#profile-pic {
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 2px solid #002E3C;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-pic img {
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.user-div {
  background-color: #F5F5F5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 220px;
}
.user-div-inactive {
  background-color: #F5F5F5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 220px;
}
