<app-aside></app-aside>
<app-header></app-header>

<section class="overflow">
  <div *ngFor="let project of projects" class="project-container">
    <h1>{{project.name}}</h1>
<!--
  /**
  *!Importante: Enlazar cada usuario mediante el id par su vista: [routerLink]="['/user-profile', user.user.idUser]"(EN proceso) 
  **/
-->
    <div class="plantilla-four" >
      <ng-container  *ngFor="let user of users"  >
        <div class="user-div" *ngIf="user.project.idProject== project.idProject " [style.border]="getUserBorderStyle(user.role.name)" [style.background-color]="getUserActivity(user.active)" [routerLink]="['/user', user.user.idUser]">
          <div id="profile-pic">
            <img src="https://firebasestorage.googleapis.com/v0/b/myprotask.appspot.com/o/user-profiles%2F{{ user.user.idUser }}%2Fpfp.png?alt=media&token=71e4361c-7814-4858-896e-cedcaf90980c"
            onerror="this.onerror=null; this.src='../../../assets/img/profile_pic.png';" alt="" />
          </div>
          <p>{{user.user.name}}</p>
          <p>{{user.user.email}}</p>
          <p>{{user.user.das}}</p>
          
        </div>
        
      </ng-container>
    </div>
  </div>
</section>
