<div id="profile-pic" routerLink="/edituser">
  <img src="{{ profile_pic }}" alt="" />
  <i class="bi bi-pencil edit-icon"></i>
</div>
<div id="user-info">
  <p>{{ name }}</p>
  <p id="email">{{ email }}</p>
  <div class="buttons" *ngIf="role == 'employee'">
    <a routerLink="/home"><i class="bi bi-house-fill"></i> Home</a>
    <a routerLink="/tasks"><i class="bi bi-journal-check"></i> My Tasks</a>
    <a routerLink="/calendar"><i class="bi bi-calendar-day"></i> Calendar</a>
    <a routerLink="/history"><i class="bi bi-clock-history"></i> History</a>
    <a routerLink="/users"><i class="bi bi-person"></i>Users</a>
    <button class="circular-button" routerLink="/projects">
      <span class="icon"><i class="bi bi-plus"></i></span>
      <span class="text">View new projects</span>
    </button>
    <a (click)="borrarSessionStorage()" routerLink=""
      ><i class="bi bi-box-arrow-in-left"></i> Log out</a
    >
  </div>
  <div class="buttons" *ngIf="role == 'manager'">
    <a routerLink="/home-pm"><i class="bi bi-house-fill"></i> Home</a>
    <a routerLink="/tasks"><i class="bi bi-journal-check"></i> Tasks</a>
    <a routerLink="/calendar"><i class="bi bi-calendar-day"></i> Calendar</a>
    <a routerLink="/history"><i class="bi bi-clock-history"></i> History</a>
    <a routerLink="/requests"
      ><i class="bi bi-envelope-open-fill"></i> Requests</a
    >
    <a routerLink="/users"><i class="bi bi-person"></i>Users</a>
    <button class="circular-button" routerLink="/projects">
      <span class="icon"><i class="bi bi-plus"></i></span>
      <span class="text">View new projects</span>
    </button>
    <a (click)="borrarSessionStorage()" routerLink=""
      ><i class="bi bi-box-arrow-in-left"></i> Log out</a
    >
  </div>
  <div class="buttons" *ngIf="role == 'admin'">
    <a routerLink="/home-projects"><i class="bi bi-house-fill"></i> Admin</a>
    <a routerLink="/calendar"><i class="bi bi-calendar-day"></i> Calendar</a>
    <a routerLink="/allusers"><i class="bi bi-person"></i>Users</a>
    <a routerLink="/createproject"><i class="bi bi-plus"></i> New Project</a>
    <button class="circular-button" routerLink="/newUser">
      <span class="icon"><i class="bi bi-plus"></i></span>
      <span class="text">Add user</span>
    </button>
    <a (click)="borrarSessionStorage()" routerLink=""
      ><i class="bi bi-box-arrow-in-left"></i> Log out</a
    >
  </div>
</div>
