section{
    display: grid;
    grid-template-rows: 50% 1fr;
    grid-template-columns: 50% 1fr;
    grid-template-areas:
    "zprojects zprojects"
    "zdailies ztimer";
    gap: 20px;
    background-color: #F5F5F5;
}

#projects{
    grid-area: zprojects;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
#dailies{
    grid-area: zdailies;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    overflow: auto;
    max-height: 500px;
}
#timer{
    grid-area: ztimer;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
#projects table{
    width: 100%;
    height: 100%;
    border-collapse: separate; /* Asegura que las celdas de la tabla estén separadas */
    border-spacing: 0px 10px;
    border-radius: 20px;
    overflow: auto;
    max-height: 500px;
}
#dailies table{
    width: 100%;
    height: 100%;
    border-collapse: separate; /* Asegura que las celdas de la tabla estén separadas */
    border-spacing: 0px 10px;
    border-radius: 20px;


}
#timer table{
    width: 100%;
    height: 100%;
    border-collapse: separate; /* Asegura que las celdas de la tabla estén separadas */
    border-spacing: 0px 10px;
    border-radius: 20px;
}
.grey{
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 5px;
}

th{
    text-align: center;
}
td{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.border-left{
    border-top-left-radius:  10px;
    border-bottom-left-radius:  10px;
}
.border-right{
    border-top-right-radius:  10px;
    border-bottom-right-radius:  10px;

}
.finished{
    background-color: #FF6D43;
    color: rgb(0, 0, 0);
    padding: 7px 15px;
    border-radius: 20px;
    width: 150px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}
.in_progress{
    background-color: #8EDBFC;
    color: rgb(0, 0, 0);
    padding: 7px 15px;
    border-radius: 20px;
    width: 150px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;

}
.created{
    background-color: #FFD45A;
    color: rgb(0, 0, 0);
    padding: 7px 15px;
    border-radius: 20px;
    width: 150px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}
