<app-aside></app-aside>
<app-header></app-header>
<section>
    <div id="projects">
        <table >
                <tr>
                    <th class="border-left">Projects</th>
                    <th>Description</th>
                    <th>End Date</th>
                    <th class="border-right">Tasks left</th>
                </tr>
                <tr class="grey"  *ngFor="let project of projects">
                    <td class="border-left">{{project.name}}</td>
                    <td>{{project.description}}</td>
                    
                    <td>{{project.finishDate}}</td>
                    <td style="color: #FF6D43;" class="border-right">{{project.vacancies}} tasks</td>
                </tr>

          </table>
    </div>
    <div id="dailies">
        <table >
            <thead>
                <tr>
                    <th class="border-left">Daily Tasks</th>
                    <th class="border-right">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="grey" *ngFor="let task of tasksList | slice:0:4; let i = index">
                    <td class="border-left">{{task.name}}</td>
                    <td *ngIf="task.active==false" class="border-right"><a class="finished">FINISHED</a></td>
                    <td *ngIf="task.active==true" class="border-right"><a class="in_progress">IN PROGRESS</a></td>
                </tr>
            </tbody>

          </table>
    </div>
    <div id="timer">
        <table >
            <tr>
                <th>Up to end tasks</th>
                <th>Project Name</th>
                <th>Final Date</th>
            </tr>
            <tr class="grey" *ngFor="let task of tasksList | slice:0:4; let i = index">
                <td class="border-left">{{task.name}}</td>
                <td>{{task.project.name}} days</td>
                <td style="color: #FF6D43;" class="border-right">{{task.finishDate}} </td>
            </tr>
        </table>
    </div>
</section>
