section {
  background-color: #F5F5F5;
  gap: 60px;
}

.div-container{
  width: 100%;
}
.template-eight{
  display: flex;
  gap: 30px;
}
.overflow {
  overflow: auto;
  height: 650px;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overflow {
  overflow: scroll;
  height: 550px;
  overflow-x: hidden;
}

.overflow::-webkit-scrollbar {
  width: 9px;
  
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 5px;
  border: none;
  background-color: white;
}

.input-group-text i {
  color: #FF6D43;
  font-size: 16px; 
}

.input-group-text {
  width: 40px; 
}

.overflow::-webkit-scrollbar-track {
  background: #F5F5F5;

}

.overflow::-webkit-scrollbar-thumb {
  background: #555;
  
  border-radius: 6px;
  
}

.overflow::-webkit-scrollbar-thumb:hover {
  background: #002E3C;
  
}


button {
  background-color: #FF6D43;
  color: white;
  border-radius: 10px;
  border: none;
}



.eight {
  grid-template-columns: 20% 80%;

}

h2 {
  color: #FF6D43;
}

.white {
  background-color: #F5F5F5;
  border-radius: 20px;
  
}

.top{
  margin-top: 10px;
}

.seven {

  grid-template-columns: 70% 30%;
  
  border-radius: 10px;

  margin-bottom: 20px;
  
  padding: 15px;
  background-color: rgb(255, 255, 255);

}
.info-project{
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}


.template {
  display: grid;
}

#searchbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 30px;
}

#searchbar input[type="text"] {
  flex: 1;
  height: 100%;
  padding: 1px;
  border: none; 
  border-bottom:  2px solid #FF6D43 ; 
  box-shadow: 0 3px rgba(0, 0, 0, 0.1);;
  border-radius: 0; 
  font-size: 16px;
}
#searchbar input[type="text"]:focus {
  outline: none; 
}
#searchbar .input-group-text {
  position: absolute;
  right: 10px;
  cursor: pointer;
  padding: 0px;
}
.input-group-text{
  margin-right: 10px;
}



.div-characteristics {
  width: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: rgb(255, 255, 255);

}


.div-characteristics button{
  width: 140px;
  margin-bottom: 10px;

}
.characteristics{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

label{
  display: flex;
  align-items: center;
  gap: 5px;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #FF6D43; 
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #FF6D43;
}

.request-button{
  padding: 10px;
  border-radius: 2px;
}

.toggle{
  color: #FF6D43;
  cursor: pointer;
  text-decoration: none;

}
/*Prueba para el popup*/
.modal-content .btn {
  background-color: #FF6D43;
  border: none;
  color: white; 
  }
  .btn-primary {
  background-color: #FF6D43;
  border: none;
  color: white; 
  width: 200px;
  }
  .modal-header{
  background-color: #FF6D43;
  color: white; 
  }
  .form-label{
  font-weight: bold;
  }
  