<app-aside></app-aside>
<app-header></app-header>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th style="border-top-left-radius: 8px">Name</th>
        <th>Description</th>
        <th>characteristics</th>
        <th>Start Date</th>
        <th>Finish Date</th>
        <th>Vacancies</th>
        <th style="border-top-right-radius: 8px">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>{{ project.name }}</td>
        <td>{{ project.description }}</td>
        <td>
          <span
            class="buttonCharacteristics"
            (click)="openDialog(project.projectCharacteristics)"
            >View Characteristics</span
          >
        </td>
        <td>{{ project.startDate | date : "shortDate" }}</td>
        <td>{{ project.finishDate | date : "shortDate" }}</td>
        <td>{{ project.vacancies }}</td>
        <td>
          <button
            *ngIf="project.active"
            (click)="deleteProject(project.idProject)"
          >
            <i class="fas fa-trash-alt"></i>
          </button>
          <button
            *ngIf="!project.active"
            (click)="deleteProject(project.idProject)"
          >
            <i class="bi bi-check-lg"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="myModal" class="modal" [ngClass]="{ show: isDialogOpen }">
  <div class="modal-content">
    <h4>
      Characteristics <span class="close" (click)="closeDialog()">&times;</span>
    </h4>

    <ul class="listChar">
      <li *ngFor="let characteristic of currentCharacteristics">
        {{ characteristic.name }}
      </li>
    </ul>
  </div>
</div>
