<app-aside></app-aside>
<app-header></app-header>
<section>
  <div class="container">
    <div class="user-description">
      <h5>About me</h5>
      <textarea name="" [value]="user?.description" id="desc"></textarea><br />
      <button (click)="getNewDesc()">Actualizar</button>
    </div>
 
    <div class="input-container">
      <label for="cv">CV</label>
      <div class="custom-file-input">
        <input
          type="file"
          id="cv"
          name="cv"
          (change)="uploadCv($event)"
          accept=".pdf,.doc,.docx"
        />
        <input type="text" id="cv-text" name="cv-text"  [placeholder]="getPlaceholderText()"
       readonly>
        <div *ngIf="uploadPercentCv == '100'">Cargado</div>
      </div><button class="buttonFirebase" (click)="uploadFiles()">Actualizar</button>
 
      <label for="profile-picture">Profile Picture</label>
      <div class="custom-file-input">
        <input
          type="file"
          id="profile-picture"
          name="profile-picture"
          (change)="uploadPf($event)"
          accept=".png,.jpg"
        />
        <input type="text" id="pf-text" name="pf-text"  [placeholder]="getPlaceholderText2()"
       readonly>
        <div *ngIf="uploadPercentPf | async as percent">
     
        </div>
      </div>
      <button class="buttonFirebase" (click)="uploadFiles()">Actualizar</button>
    </div>
 
    <div class="add-feature">
      <label for="feature"> <h5>Tecnologias</h5></label>
      <div>
        <label for="tecnologias" title="tecnologias"></label>
        <select name="tecnologias" id="tecnologias">
          <ng-container *ngFor="let char of Allcharacteristics">
            <option
              *ngIf="char.category.technical"
              [value]="char.idCharacteristic"
            >
              {{ char.name }}
            </option>
          </ng-container>
        </select>
 
        <input
          type="number"
          placeholder="Meses"
          id="tecnologias-exp"
          min="1"
          max="10"
        />
        <button (click)="addUserCharacteristicTec()" class="add-btn">Añadir</button>
      </div>
 
      <label for="feature2"><h5>Idiomas</h5></label>
      <div>
        <label for="languages" title="languages"></label>
        <select name="languages" id="languages">
          <ng-container *ngFor="let char of Allcharacteristics">
            <option
              *ngIf="!char.category.technical"
              [value]="char.idCharacteristic"
            >
              {{ char.name }}
            </option>
          </ng-container>
        </select>
        <input
          type="number"
          placeholder="Nivel"
          max="10"
          min="1"
          name=""
          id="languages-exp"
        />
        <button (click)="addUserCharacteristicLang()"  class="add-btn">Añadir</button>
      </div>
    </div>
 
    <div class="features">
      <h4>My Characteristics</h4>
      <div class="checkbox" *ngFor="let characteristic of characteristics">
        <label class="delete-icon" for="features1" 
          ><i  class="bi bi-trash" (click)="deleteCharacteristic(characteristic.idCharacteristic)" ></i>{{ characteristic.name }}</label
        ><br />
      </div>
    </div>
  </div>
  <div class="dialog-overlay" [ngStyle]="{'display': showDialog ? 'block' : 'none'}" (click)="closeDialog()"></div>
 
<div class="dialog" [ngStyle]="{'display': showDialog ? 'block' : 'none'}">
  <h5>Genial!</h5>
  <p>Datos actualizados</p>
</div>
</section>