<app-aside></app-aside>
<app-header></app-header>

<section class="section">
  <div class="projects-wrapper">
    <button class="arrow arrow-left" (click)="scrollLeft()">&#8249;</button>
    <div class="projects-container" #projectsContainer>
      <div class="project" *ngFor="let project of projects">
        <img src="../../../assets/img/logo-eviden.png" alt="" >
        <h3>{{project.name}}</h3>
        <div class="project-info">
          <ng-container *ngFor="let vacancies of vacanciesList">
            <p *ngIf="project.idProject==vacancies.idProject" > {{vacancies.vacancies}} / {{project.vacancies}} Members</p>
          </ng-container>
          
          
          <button [routerLink]="['/home-pm', project.idProject]">Go to</button>
        </div>
      </div>
    </div>
    <button class="arrow arrow-right" (click)="scrollRight()">&#8250;</button>
  </div>
</section>
