<!--Home-->
<div *ngIf="showLoader" class="loading-screen">
    <div class="spinner-container">
        <i style="color: #FF6D43 ;" class="fas fa-spinner fa-spin"></i> 
    </div>
</div>
<!--Home-->


<div *ngIf="!showLoader" class="content">
    <header>
        <picture alt="Logo" class="logo">
            <source width="150" media="(max-width: 800px)" srcset="../../assets/img/originallogo.png">
            <source width="350" media="(min-width: 801px)" srcset="../../assets/img/headerTitle.png">
            <img src="../../assets/img/originallogo.png" alt="">
        </picture>

        <div class="menu-container">
            <div class="date-container">
                <p class="dayName">{{ dayName }}</p>
                <p class="date">{{ dateToday | date:'dd/MM/yyyy' }}</p>
            </div>
        </div>
    </header>
</div>
