@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css');


body {
  height: 100vh;
  width: 100vw;
  background-color: #002E3C;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

app-root {
  background-color: #a3a3a3;
}

app-header {
  width: 100vw;
  grid-area: zheader;
  background-color: #FFFFFF;
  box-shadow: 0 0 3px 3px rgba(199, 199, 199, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

app-aside {

  grid-area: zaside;
  background-color: #002E3C;
  margin-top: 20%;
  margin-bottom: 10%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

section {
  grid-area: zrouter;
  background-color: #ffffff;
  margin-top: 5%;
  margin-bottom: 2.5%;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  section {
    width: 32%;
  }
}

app-home {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 12% 1fr;
  grid-template-areas:
    "zheader zheader"
    "zaside zrouter";
}
app-createproject {

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 12% 1fr;
  grid-template-areas:
    "zheader zheader"
    "zaside zrouter";
}
app-projects {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 12% 1fr;
  grid-template-areas:
    "zheader zheader"
    "zaside zrouter";
}

app-editprofile {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 12% 1fr;
  grid-template-areas:
    "zheader zheader"
    "zaside zrouter";
}

app-home-pm {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 12% 1fr;
  grid-template-areas:
    "zheader zheader"
    "zaside zrouter";
}

app-project-users-pm {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 12% 1fr;
  grid-template-areas:
    "zheader zheader"
    "zaside zrouter";
}

app-calendar {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 12% 1fr;
  grid-template-areas:
    "zheader zheader"
    "zaside zrouter";
}

app-users {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 12% 1fr;
  grid-template-areas:
    "zheader zheader"
    "zaside zrouter";
}

app-all-projects {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 12% 1fr;
  grid-template-areas:
    "zheader zheader"
    "zaside zrouter";
}

app-tasks {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 12% 1fr;
  grid-template-areas:
    "zheader zheader"
    "zaside zrouter";
}

app-history {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 12% 1fr;
  grid-template-areas:
    "zheader zheader"
    "zaside zrouter";
}

app-user {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 12% 1fr;
  grid-template-areas:
    "zheader zheader"
    "zaside zrouter";
}

app-user {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 12% 1fr;
  grid-template-areas:
    "zheader zheader"
    "zaside zrouter";
}

app-new-user {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 12% 1fr;
  grid-template-areas:
    "zheader zheader"
    "zaside zrouter";
}

app-request {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 12% 1fr;
  grid-template-areas:
    "zheader zheader"
    "zaside zrouter";
}



/*CSS FULL-CALENDAR*/

:root {
  --fc-small-font-size: .85em;
  --fc-page-bg-color: white;
  --fc-neutral-bg-color: red;
  --fc-neutral-text-color: red;
  --fc-border-color: lightgray;

  --fc-button-text-color: white;
  --fc-button-bg-color: #002E3C;
  --fc-button-border-color: #2C3E50;
  --fc-button-hover-bg-color: #1e2b37;
  --fc-button-hover-border-color: #1a252f;
  --fc-button-active-bg-color: #1a252f;
  --fc-button-active-border-color: #151e27;

  --fc-event-bg-color: rgba(0, 0, 0, 0.434);
  --fc-event-border-color: lightgray;
  --fc-event-text-color: rgb(0, 0, 0);
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: black;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: gray;
  --fc-bg-event-color: gray;
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: gray;
  --fc-today-bg-color: gray;
  --fc-now-indicator-color: gray;
}

.fc-today-button.fc-button.fc-button-primary {
  text-transform: capitalize;
}

.fc-toolbar-title {
  color: #002E3C;
}

.fc-scrollgrid.fc-scrollgrid-liquid {
  border: none;
}

.fc-event-title {
  color: black;
  background-color: rgba(255, 136, 0, 0.871);
  opacity: 0.;

}

.fc-scrollgrid-sync-inner a {
  color: black;
  text-decoration: none;
}

.fc-col-header-cell:first-of-type {
  background-color: #002E3C;
  border-top-left-radius: 10px;
  border: none;
}

.fc-col-header-cell:last-of-type {
  background-color: #002E3C;
  border-top-right-radius: 10px;
  border: none;
}

.fc-col-header-cell {
  background-color: #002E3C;
  border: none;
}

.fc-col-header-cell a {
  color: white;
}

.fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  background-color: #ECECEC;
}

.fc-col-header-cell.fc-day {
  border: none;
}

tr[role="row"] {
  border: none;
}

fc-daygrid-day-top {
  color: red;
}

fc-daygrid-day-top {
  color: red;
}


.fc-event {
  color: #ffffff;
  background-color: rgb(255, 107, 66, 0.3);
  cursor: pointer;
  padding: 5px;
  border-left: 4px solid #ff6b42;
}

.calendar-tasks {
  color: #ffffff;
  background-color: rgb(0, 46, 60, 0.3);
  cursor: pointer;
  padding: 5px;
  border-left: 4px solid #002E3C;
}

.calendar-events {
  color: #ffffff;
  background-color: rgb(255, 107, 66, 0.3);
  cursor: pointer;
  padding: 5px;
  border-left: 4px solid #ff6b42;
}

.fc-event-title {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.fc-daygrid-event {
  white-space: normal;
  max-height: 3em;
  overflow: hidden;
  height: auto;
  max-height: none;
}

.fc-event-container {
  border: 1px solid #007bff;
  border-radius: 5px;
}

.fc-dragging .fc-event-container {
  opacity: 0.5;
}

.fc-resizing .fc-event-container {
  border-style: dotted;
}

.fc-highlight {
  background-color: rgba(0, 123, 255, 0.1);
}